.new_setting {
    .leftpan {
        background: #f3f3f3;
        padding: 0;
        transition: all .2s ease-out;
        .apps_header {
            padding: 10px 10px;
            font-size: 25px;
            color: #b1b0b0;
        }
        .apps {
            margin-top: 15px;
            .selected {
                background-color: #fff;
                .project {
                    color: #8269b8;
                }
                .inventory {
                    color: #ff4657;
                }
                .mrp {
                    color: #00c74b;
                }
                .sales {
                    color: #d5621d;
                }
                .pos {
                    color: #7b8b8c;
                }
            }
            .app_name {
                font-size: 15px;
                height: 40px;
                padding-left: 10px;
                line-height: 40px;
                cursor: pointer;
                .fa {
                    padding-right: 8px;
                }
            }
        }
    }
    .rightpan {
        overflow: auto;
        height: 84vh;
        .input-group {
            width: 350px;
            float: right;
            margin-top: 12px;
            margin-right: 15px;
            .form-control {
                border-right: 0px;
            }
            .form-control:focus {
                border-color: rgba(193, 163, 186, 0.73);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 90, 123, 0.15);
            }
            .input-group-addon {
                background-color: #fff;
            }
        }
        .settings {}
        .searchresult {
            margin-top: 60px;
            .searchheader {
                font-size: 20px;
            }
            .searchheader:first-letter {
                text-transform: capitalize;
            }
        }
        .hiliterWord {
            background: yellow;
        }
    }
}
